*{
    box-sizing: border-box;
    font-family: fantasy;
  }
  body {
    background-color: rgb(255, 207, 104);
    color: rgb(8, 8, 8);
    text-align: center;
  }
  #example1 {
    background-image: url(scpr-0.jpg);
    padding: 80px;
  }

  
  
  div.gallery {
    margin: 10px;
    border: 1px solid #000000;
    float: left;
    width: 180px;
  }
  div.gallery:hover {
    border: 5px solid ;
  }
  
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
   